*.pyc
bacteria_mda_lane1.fastq.bz2
bacteria_mda_lane1.fastq.bz2.keep
bacteria_mda_lane1.fastq.bz2.keep.abundfilt
bacteria_mda_lane1.fastq.bz2.keep.abundfilt.keep
bacteria_mda_lane1.fastq.bz2.normC20k20.kh
bacteria_mda_lane7.fastq.bz2
bacteria_mda_lane7.fastq.bz2.keep
bacteria_mda_lane7.fastq.bz2.keep.abundfilt
bacteria_mda_lane7.fastq.bz2.keep.abundfilt.keep
bacteria_mda_lane7.fastq.bz2.normC20k20.kh
bacteria_mda_lane7.fastq.bz2.normC5k20.kh
ecoli.37
ecoli.keep.rawreads.map.gz
ecoli.keep.rawreads.map.gz.cov
ecoli.rawreads.map.gz
ecoli.rawreads.map.gz.cov
ecoliMG1655.fa
ecoli_dn.faa
ecoli_dn
ecoli_ref-5m.fastq
ecoli_ref.fastq.bz2
ecoli_ref.fastq.bz2.keep
ecoli_ref.fastq.bz2.keep.abundfilt
ecoli_ref.fastq.bz2.keep.abundfilt.keep
ecoli_ref.fastq.bz2.keep.assembly.fa
ecoli_ref.fastq.bz2.normC20k20.kh
ecoli_ref.fastq.bz2.normC5k20.kh
ecoli_ref.report
formatdb.log
mapping.txt
mouse-5m.fq
random.fa.ht
random.fa.info
random.fa.kh
random.fa.kh.ht
random.fa.kh.info
random.x.genome-reads.fa.keep.abundfilt.keep.overlap.curve
random.x.genome-reads.fa.keep.abundfilt.overlap.curve
random.x.genome-reads.fa.keep.overlap.curve
random.x.genome-reads.fa.overlap.curve
sar.27/
sar.keep.assembly.fa
sar324.1.ebwt
sar324.2.ebwt
sar324.3.ebwt
sar324.4.ebwt
sar324.keep.rawreads.map.gz
sar324.keep.rawreads.map.gz.cov
sar324.rawreads.map.gz
sar324.rawreads.map.gz.cov
sar324.rev.1.ebwt
sar324.rev.2.ebwt
sar324_contigs_lane1.fa
sar_dn.faa
sar_dn.faa.phr
sar_dn.faa.pin
sar_dn.faa.psd
sar_dn.faa.psi
sar_dn.faa.psq
sar_dn.x.sar_orig
sar_dn.x.sar_orig.missing
sar_dn/
sar_orig.faa
sar_orig.faa.phr
sar_orig.faa.pin
sar_orig.faa.psd
sar_orig.faa.psi
sar_orig.faa.psq
sar_orig.x.sar_dn
sar_orig.x.sar_dn.missing
sar_orig/
staph-genome.fa
staph.1.ebwt
staph.2.ebwt
staph.27/
staph.3.ebwt
staph.4.ebwt
staph.keep.assembly.fa
staph.keep.rawreads.map.gz
staph.keep.rawreads.map.gz.cov
staph.rawreads.map.gz
staph.rawreads.map.gz.cov
staph.rev.1.ebwt
staph.rev.2.ebwt
staph_dn.faa
staph_dn/
transcripts.fa.ht
transcripts.fa.info
transcripts.x.transcript-reads.fa.keep.abundfilt.keep.overlap.curve
transcripts.x.transcript-reads.fa.keep.abundfilt.overlap.curve
transcripts.x.transcript-reads.fa.keep.overlap.curve
transcripts.x.transcript-reads.fa.overlap.curve
trinity-300.fa
orig_vs_ecoli_assembly.1coords
orig_vs_ecoli_assembly.1delta
orig_vs_ecoli_assembly.delta
orig_vs_ecoli_assembly.mcoords
orig_vs_ecoli_assembly.mdelta
orig_vs_ecoli_assembly.qdiff
orig_vs_ecoli_assembly.rdiff
orig_vs_ecoli_assembly.report
orig_vs_ecoli_assembly.snps
orig_vs_ecoli_assembly.unqry
orig_vs_staph_assembly.1coords
orig_vs_staph_assembly.1delta
orig_vs_staph_assembly.delta
orig_vs_staph_assembly.mcoords
orig_vs_staph_assembly.mdelta
orig_vs_staph_assembly.qdiff
orig_vs_staph_assembly.rdiff
orig_vs_staph_assembly.report
orig_vs_staph_assembly.snps
orig_vs_staph_assembly.unqry
out.1coords
out.1delta
out.delta
out.mcoords
out.mdelta
out.qdiff
out.rdiff
out.report
out.snps
out.unqry
sar_assembly.1coords
sar_assembly.1delta
sar_assembly.delta
sar_assembly.mcoords
sar_assembly.mdelta
sar_assembly.qdiff
sar_assembly.rdiff
sar_assembly.report
sar_assembly.snps
sar_assembly.unqry
sar_assembly.unref
