
bacteria_mda_lane1.fastq.bz2
bacteria_mda_lane1.fastq.bz2.keep
bacteria_mda_lane1.fastq.bz2.keep.abundfilt
bacteria_mda_lane1.fastq.bz2.keep.abundfilt.keep
bacteria_mda_lane1.fastq.bz2.normC20k20.kh
bacteria_mda_lane7.fastq.bz2
bacteria_mda_lane7.fastq.bz2.keep
bacteria_mda_lane7.fastq.bz2.keep.abundfilt
bacteria_mda_lane7.fastq.bz2.keep.abundfilt.keep
bacteria_mda_lane7.fastq.bz2.normC20k20.kh
bacteria_mda_lane7.fastq.bz2.normC5k20.kh
calc-r2.txt
ecoli.37
ecoli_dn
ecoli_dn.faa
ecoli.keep.rawreads.map.gz
ecoli.keep.rawreads.map.gz.cov
ecoliMG1655.1.ebwt
ecoliMG1655.2.ebwt
ecoliMG1655.3.ebwt
ecoliMG1655.4.ebwt
ecoliMG1655.fa
ecoliMG1655.rev.1.ebwt
ecoliMG1655.rev.2.ebwt
ecoli.rawreads.map.gz
ecoli.rawreads.map.gz.cov
ecoli_ref-5m.fastq
ecoli_ref-5m.fastq.counts.cmp
ecoli_ref-5m.fastq.counts.kmer
ecoli_ref-5m.fastq.counts.pickle
ecoli_ref-5m.fastq.kh
ecoli_ref-5m.fastq.kh.info
ecoli_ref-5m.fastq.map
ecoli_ref-5m.fastq.map.cov
ecoli_ref.fastq.bz2
ecoli_ref.fastq.bz2.keep
ecoli_ref.fastq.bz2.keep.abundfilt
ecoli_ref.fastq.bz2.keep.abundfilt.keep
ecoli_ref.fastq.bz2.keep.assembly.fa
ecoli_ref.fastq.bz2.keep.map
ecoli_ref.fastq.bz2.keep.map.cov
ecoli_ref.fastq.bz2.normC20k20.kh
ecoli_ref.fastq.bz2.normC5k20.kh
ecoli_ref.report
endbias-genome.txt
endbias-transcripts.txt
formatdb.log
genome-reads.fa
genome-reads.fa.bam
genome-reads.fa.counts.cmp
genome-reads.fa.counts.kmer
genome-reads.fa.counts.pickle
genome-reads.fa.keep
genome-reads.fa.keep.abundfilt
genome-reads.fa.keep.abundfilt.keep
genome-reads.fa.keep.abundfilt.keep.kh
genome-reads.fa.keep.kh
genome-reads.fa.keep.map
genome-reads.fa.keep.map.cov
genome-reads.fa.kh
genome-reads.fa.kh.info
genome-reads.fa.map
genome-reads.fa.map.cov
genome-reads.fa.sam
genome-reads.fa.sorted.bam
genome-reads.fa.sorted.bam.bai
mapping.txt
mouse-5m.fq
mouse-5m.fq.counts.cmp
mouse-5m.fq.counts.kmer
mouse-5m.fq.counts.pickle
mouse-5m.fq.keep
mouse-5m.fq.keep.map
mouse-5m.fq.keep.map.cov
mouse-5m.fq.kh
mouse-5m.fq.kh.info
mouse-5m.fq.map
mouse-5m.fq.map.cov
orig_vs_ecoli_assembly.1coords
orig_vs_ecoli_assembly.1delta
orig_vs_ecoli_assembly.delta
orig_vs_ecoli_assembly.mcoords
orig_vs_ecoli_assembly.mdelta
orig_vs_ecoli_assembly.qdiff
orig_vs_ecoli_assembly.rdiff
orig_vs_ecoli_assembly.report
orig_vs_ecoli_assembly.snps
orig_vs_ecoli_assembly.unqry
orig_vs_staph_assembly.1coords
orig_vs_staph_assembly.1delta
orig_vs_staph_assembly.delta
orig_vs_staph_assembly.mcoords
orig_vs_staph_assembly.mdelta
orig_vs_staph_assembly.qdiff
orig_vs_staph_assembly.rdiff
orig_vs_staph_assembly.report
orig_vs_staph_assembly.snps
orig_vs_staph_assembly.unqry
out.1coords
out.1delta
out.delta
out.mcoords
out.mdelta
out.qdiff
out.rdiff
out.report
out.snps
out.unqry
*.pyc
random.1.ebwt
random.2.ebwt
random.3.ebwt
random.4.ebwt
random.fa
random.fa.fai
random.fa.hb
random.fa.hb.info
random.fa.ht
random.fa.info
random.fa.kh
random.fa.kh.ht
random.fa.kh.info
random.fa.load-grap.hb.ht
random.fa.load-grap.hb.info
random.rev.1.ebwt
random.rev.2.ebwt
random.x.genome-reads.fa.keep.abundfilt.keep.overlap
random.x.genome-reads.fa.keep.abundfilt.keep.overlap.curve
random.x.genome-reads.fa.keep.abundfilt.overlap
random.x.genome-reads.fa.keep.abundfilt.overlap.curve
random.x.genome-reads.fa.keep.overlap
random.x.genome-reads.fa.keep.overlap.curve
random.x.genome-reads.fa.overlap
random.x.genome-reads.fa.overlap.curve
sar.27/
sar324.1.ebwt
sar324.2.ebwt
sar324.3.ebwt
sar324.4.ebwt
sar324_contigs_lane1.fa
sar324.keep.rawreads.map.gz
sar324.keep.rawreads.map.gz.cov
sar324.rawreads.map.gz
sar324.rawreads.map.gz.cov
sar324.rev.1.ebwt
sar324.rev.2.ebwt
sar_assembly.1coords
sar_assembly.1delta
sar_assembly.delta
sar_assembly.mcoords
sar_assembly.mdelta
sar_assembly.qdiff
sar_assembly.rdiff
sar_assembly.report
sar_assembly.snps
sar_assembly.unqry
sar_assembly.unref
sar_dn/
sar_dn.faa
sar_dn.faa.phr
sar_dn.faa.pin
sar_dn.faa.psd
sar_dn.faa.psi
sar_dn.faa.psq
sar_dn.x.sar_orig
sar_dn.x.sar_orig.missing
sar.keep.assembly.fa
sar_orig/
sar_orig.faa
sar_orig.faa.phr
sar_orig.faa.pin
sar_orig.faa.psd
sar_orig.faa.psi
sar_orig.faa.psq
sar_orig.x.sar_dn
sar_orig.x.sar_dn.missing
staph.1.ebwt
staph.27/
staph.2.ebwt
staph.3.ebwt
staph.4.ebwt
staph_dn/
staph_dn.faa
staph-genome.fa
staph.keep.assembly.fa
staph.keep.rawreads.map.gz
staph.keep.rawreads.map.gz.cov
staph.rawreads.map.gz
staph.rawreads.map.gz.cov
staph.rev.1.ebwt
staph.rev.2.ebwt
transcript-reads.fa
transcript-reads.fa.bam
transcript-reads.fa.counts.cmp
transcript-reads.fa.counts.kmer
transcript-reads.fa.counts.pickle
transcript-reads.fa.keep
transcript-reads.fa.keep.abundfilt
transcript-reads.fa.keep.abundfilt.keep
transcript-reads.fa.keep.abundfilt.keep.kh
transcript-reads.fa.keep.kh
transcript-reads.fa.keep.map
transcript-reads.fa.keep.map.cov
transcript-reads.fa.kh
transcript-reads.fa.kh.info
transcript-reads.fa.map
transcript-reads.fa.map.cov
transcript-reads.fa.sam
transcript-reads.fa.sorted.bam
transcript-reads.fa.sorted.bam.bai
transcripts.1.ebwt
transcripts.2.ebwt
transcripts.3.ebwt
transcripts.4.ebwt
transcripts.fa
transcripts.fa.fai
transcripts.fa.hb
transcripts.fa.hb.info
transcripts.fa.ht
transcripts.fa.info
transcripts.rev.1.ebwt
transcripts.rev.2.ebwt
transcripts.x.transcript-reads.fa.keep.abundfilt.keep.overlap
transcripts.x.transcript-reads.fa.keep.abundfilt.keep.overlap.curve
transcripts.x.transcript-reads.fa.keep.abundfilt.overlap
transcripts.x.transcript-reads.fa.keep.abundfilt.overlap.curve
transcripts.x.transcript-reads.fa.keep.overlap
transcripts.x.transcript-reads.fa.keep.overlap.curve
transcripts.x.transcript-reads.fa.overlap
transcripts.x.transcript-reads.fa.overlap.curve
trinity-300.1.ebwt
trinity-300.2.ebwt
trinity-300.3.ebwt
trinity-300.4.ebwt
trinity-300.fa
trinity-300.rev.1.ebwt
trinity-300.rev.2.ebwt
